<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title exact-keys-helper
        link(type='text/css' rel='stylesheet', href='b/bootstrap.min.css')
        link(type='text/css' rel='stylesheet', href='static/style.css')
        script(src='static/copy.js')
    body
        div(class='container')
            h1 You made it!

            p Here are your keys:
            form
                label(for="accessToken") Access Token:
                div(class="input-group mb-3")
                    input#accessToken(type="text" class="form-control" readonly value=`${keys.accessToken}`)
                    div(class="input-group-append")
                        button(class="btn btn-outline-secondary" type="button" onclick="copyEl('accessToken')") Copy
                
                label(for="refreshToken") Refresh Token:
                div(class="input-group")
                    input#refreshToken(type="text" class="form-control" readonly value=`${keys.refreshToken}`)
                    div(class="input-group-append")
                        button(class="btn btn-outline-secondary" type="button" onclick="copyEl('refreshToken')") Copy
